<p>
  Welcome all to the API Hunter site.<br/><br/>
  
  The aim of the game is to test your general knowledge of various types of the API's available around the web.<br/><br/>
  
  We will be using the most famous ones in our sites for now, i.e. Google maps, Twitter..etc.<br/><br/>
  
  The way play the game is simple. a question will be posted in which you answer by writing a piece of code utilizing the specified API to achieve the Task in question.<br/><br/>
  
  If the answer is wrong, an alert will appear to notify you, otherwise you will be taken to another page and presented with another question.<br/><br/>
  
  The Hunt contains different level of difficulty depends on your knowledge of each type of the API's.<br/><br/>
  
  It is very Straight Forward no need to explain any more so let The HUNT BEGIN!!!!!
</p>
