Please submit your code :
<%= form_tag twitter_50_obama_check_game_index_path do %>
<%= text_area_tag :body , '=begin

ans = []

$twitter_api.user_timeline("barackobama").each do |twitter|
  ans << {
    text: twitter.text,
    favorite_count: twitter.favorite_count
  }
end

pp ans

=end' , style:'font-family:monospace;width:100%;height:300px;' %>
<button>SUBMIT</button>
<% end %>