.center{
  text-align:center;
}
.text_3d{
  color:#fff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
h1 , .font_logo{
  font-family: 'Condiment', cursive;
}
textarea{
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #336;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5ff;
  border: 1px solid #ccf;
  border-radius: 4px;
}
textarea , pre , .btn , .font_source{
  font-family: 'Source Code Pro', monospace ;
}
p , h2 , .font_note{
  font-family: 'Special Elite', cursive;
}
.ans_title{
  font-size:40px;
  text-align:center;
  display:block !important;
}
.ans_title.ans_title_success{
  color:#060;
}
.ans_title.ans_title_fail{
  color:#600;
}

.challenges .challenge{
  text-align:center;
  padding-bottom:18px;
  position:relative;
}
.challenges .challenge h2{
  margin-top:30px;
}
.challenges .challenge i{
  margin-right:10px;
}
.challenges .btn{
  font-family:inherit;
}
